table {
    border-collapse: collapse;
}

table, td, th {
    padding: 5px;
    border: 1px solid red;
}

.anim {
  transition: background 5s linear;
}
.highlight{
  background: #DCDCDC	;
}
.normal {
  background: transparent;
}
